@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles:wght@400;700&display=swap');

.fa, .fas {
    font-weight: 900;
    font-size: 20px;
  }

.btn-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 2.43;
    border-bottom: dashed 1px transparent;
    color: #1F4283;
    text-decoration: none;
}
.big_tilte{
    color: #1F4283;
    font-weight: 700;
    line-height: 1.2;
    font-family: "Fuzzy Bubbles", sans-serif;
}
.form-label{
    font-weight: 500;
    font-size: 14px;
    line-height: 2.43;
    color: #1F4283;
}
input[type="text"] {
    font-family: "Fuzzy Bubbles", sans-serif;
}
/* .input-form{
    border-radius: 30px;
} */
.btn-form{
    border-radius: 20px;
}

@media (max-width:732px) {
    small{
        font-size: 10px;
    }
    
}